In [69]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [70]:
import os
abs_dir = os.getcwd()
rel_dir = os.path.join(abs_dir, '../../data/raw/census_2011/Pop_LPW_NL_25FEB15_delete_unknown.xlsx')
df = pd.read_excel(rel_dir, sheet_name="Tabel1_2011")

In [50]:
df.head()

,"00.24 - Werkende bevolking volgens geslacht, verblijfplaats en plaats van tewerkstelling",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 652,Unnamed: 653,Unnamed: 654,Unnamed: 655,Unnamed: 656,Unnamed: 657,Unnamed: 658,Unnamed: 659,Unnamed: 660,Unnamed: 661
0,Werkende bevolking die in België verblijft (in...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,Plaats van tewerkstelling,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Werkt in België of in het buitenland,Werkt in België,Vlaams Gewest,Waals Gewest,Brussels Hoofdstedelijk Gewest,Provincie Antwerpen,Arrondissement Antwerpen,...,Arrondissement Philippeville,Cerfontaine,Couvin,Doische,Florennes,Philippeville,Walcourt,Viroinval,"Provincie Namen, gemeente en arrondissement ni...",Werkt in het Buitenland
4,CODE-NIS,Verblijfplaats,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df[5:8]

,"00.24 - Werkende bevolking volgens geslacht, verblijfplaats en plaats van tewerkstelling",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 652,Unnamed: 653,Unnamed: 654,Unnamed: 655,Unnamed: 656,Unnamed: 657,Unnamed: 658,Unnamed: 659,Unnamed: 660,Unnamed: 661
5,01000,België,Man,2408110,2350257,1368646,612782,368829,416501,242380,...,8632,272,2221,198,2585,1438,1489,429,832,57853
6,NaN,NaN,Vrouw,2024861,1990418,1131573,532491,326354,335998,197893,...,6494,210,1463,153,1293,1619,1297,459,596,34443
7,NaN,NaN,Totaal,4432971,4340675,2500219,1145273,695183,752499,440273,...,15126,482,3684,351,3878,3057,2786,888,1428,92296

In [80]:
codes=df['00.24 - Werkende bevolking volgens geslacht, verblijfplaats en plaats van tewerkstelling'].loc[5:1942].dropna().values
mobility_df=pd.DataFrame(np.zeros([len(codes),len(codes)]),index=codes,columns=codes)

rows=[]
for i in df['00.24 - Werkende bevolking volgens geslacht, verblijfplaats en plaats van tewerkstelling'].loc[5:1942].dropna().index:
    rows.append(df.iloc[i+2,4:-1].values)

matrix = np.zeros([len(rows),len(rows)])
for j in range(len(rows)):
    matrix[j,:]=rows[j]

646

In [81]:
mobility_df=pd.DataFrame(matrix,index=codes,columns=codes)
mobility_df.head()

,01000,02000,03000,04000,10000,11000,11001,11002,11004,11005,...,92141,92142,93000,93010,93014,93018,93022,93056,93088,93090
01000,4340675.0,2500219.0,1145273.0,695183.0,752499.0,440273.0,9540.0,265777.0,3684.0,6294.0,...,1169.0,8407.0,15126.0,482.0,3684.0,351.0,3878.0,3057.0,2786.0,888.0
02000,2692891.0,2391573.0,46578.0,254740.0,732539.0,427316.0,8706.0,256951.0,3643.0,6043.0,...,11.0,527.0,221.0,2.0,53.0,2.0,57.0,75.0,29.0,3.0
03000,1279677.0,64835.0,1075792.0,139050.0,12335.0,8008.0,591.0,5305.0,31.0,150.0,...,1150.0,7653.0,14824.0,478.0,3612.0,349.0,3784.0,2970.0,2747.0,884.0
04000,368107.0,43811.0,22903.0,301393.0,7625.0,4949.0,243.0,3521.0,10.0,101.0,...,8.0,227.0,81.0,2.0,19.0,0.0,37.0,12.0,10.0,1.0
10000,733602.0,689937.0,7151.0,36514.0,614859.0,359572.0,6171.0,210903.0,3407.0,5012.0,...,0.0,98.0,56.0,2.0,8.0,0.0,16.0,22.0,7.0,1.0

In [85]:
mobility_df.to_csv('../../data/interim/census_2011/recurrent_mobility.csv')