# Belgian economic production model

## Data extraction and conversion

*Original code by Cyril Garneau. Modified by T.W. Alleman in consultation with the BIOMATH research unit headed by prof. Ingmar Nopens.*

Copyright (c) 2020 by T.W. Alleman, BIOMATH, Ghent University. All Rights Reserved.

In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# OPTIONAL: Load the "autoreload" extension so that package code can change
%load_ext autoreload
# OPTIONAL: always reload modules so that as you change code in src, it gets loaded
%autoreload 2

### NACE Conversion matrices

https://www.nbb.be/doc/dq/e/method/b_necd10.pdf

#### NACE 21 to NACE 10

National-level production model so U (extraterritorial activities must be removed).

In [3]:
columns = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T']
index = ['A','B, C, D, E','F','G-H-I','J','K','L','M-N','O, P, Q','R, S, T']

In [4]:
NACE_21to10_mat = np.zeros([10,20])
NACE_21to10_mat[0,0] = 1
NACE_21to10_mat[1,1:5] = 1
NACE_21to10_mat[2,5] = 1
NACE_21to10_mat[3,6:9] = 1
NACE_21to10_mat[4,9] = 1
NACE_21to10_mat[5,10] = 1
NACE_21to10_mat[6,11] = 1
NACE_21to10_mat[7,12:14] = 1
NACE_21to10_mat[8,14:17] = 1
NACE_21to10_mat[9,17:20] = 1

In [5]:
NACE21to10 = pd.DataFrame(data=NACE_21to10_mat,columns=columns,index=index)
NACE21to10.head()

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P,Q,R,S,T
A,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"B, C, D, E",0.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
F,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
G-H-I,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
J,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### NACE 38 to NACE 21

National-level production model so U (extraterritorial activities must be removed).

In [6]:
columns = ['AA','BB','CA','CB','CC','CD','CE','CF','CG','CH','CI','CJ','CK','CL','CM','DD','EE','FF','GG','HH','II','JA','JB','JC','KK','LL','MA','MB','MC','NN','OO','PP','QA','QB','RR','SS','TT']
index = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T']

In [7]:
NACE_38to21_mat = np.zeros([20,37])
NACE_38to21_mat[0,0] = 1
NACE_38to21_mat[1,1] = 1
NACE_38to21_mat[2,2:15] = 1
NACE_38to21_mat[3,15] = 1
NACE_38to21_mat[4,16] = 1
NACE_38to21_mat[5,17] = 1
NACE_38to21_mat[6,18] = 1
NACE_38to21_mat[7,19] = 1
NACE_38to21_mat[8,20] = 1
NACE_38to21_mat[9,21:24] = 1
NACE_38to21_mat[10,24] = 1
NACE_38to21_mat[11,25] = 1
NACE_38to21_mat[12,26:29] = 1
NACE_38to21_mat[13,29] = 1
NACE_38to21_mat[14,30] = 1
NACE_38to21_mat[15,31] = 1
NACE_38to21_mat[16,32:34] = 1
NACE_38to21_mat[17,34] = 1
NACE_38to21_mat[18,35] = 1
NACE_38to21_mat[19,36] = 1

In [8]:
NACE38to21 = pd.DataFrame(data=NACE_38to21_mat,columns=columns,index=index)
NACE38to21.head()

,AA,BB,CA,CB,CC,CD,CE,CF,CG,CH,...,MB,MC,NN,OO,PP,QA,QB,RR,SS,TT
A,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
B,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
C,0.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
D,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
E,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### NACE 64 to NACE 38

National-level production model so U (extraterritorial activities must be removed).

In [9]:
index = ['AA','BB','CA','CB','CC','CD','CE','CF','CG','CH','CI','CJ','CK','CL','CM','DD','EE','FF','GG','HH','II','JA','JB','JC','KK','LL','MA','MB','MC','NN','OO','PP','QA','QB','RR','SS','TT']

In [10]:
IO_df = pd.read_excel("../../data/raw/economical/input-output.xlsx", sheet_name='tbl_8',index_col=[0], header=[0])
codes64 = list(IO_df.index.values[1:-19])
codes64[-1] = '97-98'
codes64.remove('68a')
codes64[codes64.index('68_')]='68'
codes64 = np.array(codes64)
columns = codes64

In [11]:
NACE_64to38_mat = np.zeros([37,63])
NACE_64to38_mat[0,0:3] = 1
NACE_64to38_mat[1,3] = 1
NACE_64to38_mat[2,4] = 1
NACE_64to38_mat[3,5] = 1
NACE_64to38_mat[4,6:9] = 1
NACE_64to38_mat[5,9] = 1
NACE_64to38_mat[6,10] = 1
NACE_64to38_mat[7,11] = 1
NACE_64to38_mat[8,12:14] = 1
NACE_64to38_mat[9,14:16] = 1
NACE_64to38_mat[10,16] = 1
NACE_64to38_mat[11,17] = 1
NACE_64to38_mat[12,18] = 1
NACE_64to38_mat[13,19:21] = 1
NACE_64to38_mat[14,21:23] = 1
NACE_64to38_mat[15,23] = 1
NACE_64to38_mat[16,24:26] = 1
NACE_64to38_mat[17,26] = 1
NACE_64to38_mat[18,27:30] = 1
NACE_64to38_mat[19,30:35] = 1
NACE_64to38_mat[20,35] = 1
NACE_64to38_mat[21,36:38] = 1
NACE_64to38_mat[22,38] = 1
NACE_64to38_mat[23,39] = 1
NACE_64to38_mat[24,40:43] = 1
NACE_64to38_mat[25,43] = 1
NACE_64to38_mat[26,44:46] = 1
NACE_64to38_mat[27,46] = 1
NACE_64to38_mat[28,47:49] = 1
NACE_64to38_mat[29,49:53] = 1
NACE_64to38_mat[30,53] = 1
NACE_64to38_mat[31,54] = 1
NACE_64to38_mat[32,55] = 1
NACE_64to38_mat[33,56] = 1
NACE_64to38_mat[34,57:59] = 1
NACE_64to38_mat[35,59:62] = 1
NACE_64to38_mat[36,62] = 1

In [12]:
NACE64to38 = pd.DataFrame(data=NACE_64to38_mat,columns=columns,index=index)
NACE64to38.head()

,01,02,03,05-09,10-12,13-15,16,17,18,19,...,84,85,86,87-88,90-92,93,94,95,96,97-98
AA,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
BB,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CA,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CB,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
CC,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

#### WIOD 55 to NACE 64

National-level production model so U (extraterritorial activities must be removed).

In [13]:
abs_dir = os.getcwd()
rel_dir = os.path.join(abs_dir, '../../data/raw/economical/IHS_Markit_results_compact.csv')
IHS_df = pd.read_csv(rel_dir,header=[0],index_col=[0])
index = IHS_df.index.values[:]

In [14]:
WIOD55toNACE64_mat = np.zeros([55,63])
for i in range(49):
    WIOD55toNACE64_mat[i,i]=1
WIOD55toNACE64_mat[49,49:53]=1
WIOD55toNACE64_mat[50,53]=1
WIOD55toNACE64_mat[51,54]=1
WIOD55toNACE64_mat[52,55:57]=1
WIOD55toNACE64_mat[53,57:62]=1
WIOD55toNACE64_mat[54,62]=1

In [15]:
WIOD55toNACE64 = pd.DataFrame(data=WIOD55toNACE64_mat,columns=columns,index=index)
WIOD55toNACE64.tail()

,01,02,03,05-09,10-12,13-15,16,17,18,19,...,84,85,86,87-88,90-92,93,94,95,96,97-98
O84,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
P85,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Q,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
R_S,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0
T,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

#### Create a multi-sheet excel with all conversion matrices

In [16]:
with pd.ExcelWriter('../../data/interim/economical/conversion_matrices.xlsx') as writer:
    NACE21to10.to_excel(writer, sheet_name='NACE 21 to NACE 10')
    NACE38to21.to_excel(writer, sheet_name='NACE 38 to NACE 21')
    NACE64to38.to_excel(writer, sheet_name='NACE 64 to NACE 38')
    WIOD55toNACE64.to_excel(writer, sheet_name='NACE 64 to WIOD 55')

### Input-output matrix $(Z_{i,j})$

In [17]:
IO_df = pd.read_excel("../../data/raw/economical/input-output.xlsx", sheet_name='tbl_8',index_col=[0], header=[0])

In [18]:
IO_df.head()

,Unnamed: 1,01,02,03,05-09,10-12,13-15,16,17,18,...,Unnamed: 66,P.31/S14,P.31/S15,P3./S13,P.51,P.52+P.53,P.6/S21i,P.6/S21x,P.6/S22,Unnamed: 75
NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Total,Final consumption expenditure by households,Final consumption expenditure by NPISH,Final consumption expenditure by government,Gross fixed capital formation,Changes in inventories and acquisition less di...,Intra EA exports,Intra EU non-EA exports,Extra EU exports,Total use basic prices
01,NaN,1135.360954,52.53487,0.0,3.054806,8645.471002,51.263227,0.000000,0.000000,0.0,...,11019.2,2489.48,0,0,62.1795,-329.568,2887.61,389.535,353.405,16871.9
02,NaN,7.486584,0.00000,0.0,0.000000,0.368798,0.000000,264.460687,77.017536,0.0,...,391.283,93.0727,0,0,0,18.2043,101.608,8.46383,35.1685,647.801
03,NaN,0.000000,0.00000,0.0,0.000000,32.105076,0.000000,0.000000,0.000000,0.0,...,146.488,205.664,0,0,0,3.02254,68.8357,3.03205,2.05752,429.1
05-09,NaN,3.281892,0.00000,0.0,70.524424,72.012662,1.779141,0.000000,8.651364,0.0,...,14779.2,24.9084,0,0,0,23.0377,739.976,86.0331,8598.32,24251.5

In [18]:
codes64 = list(IO_df.index.values[1:-19])
codes64[-1] = '97-98'
codes64.remove('68a')
codes64[codes64.index('68_')]='68'
codes64 = np.array(codes64)
print(codes64.shape)

(63,)

In [21]:
IO = IO_df.values[1:-19,1:-10]
print(IO.shape)

(64, 64)

In [20]:
IO=np.delete(IO,45,axis=0) # remove row 68a (adding not necessary since row 68a contains zeros only)
IO[1:-19:44] = IO[1:-19:44] + IO[1:-19:45] # Add column 68a to column 68_
IO=np.delete(IO,45,axis=1)
print(IO.shape)

(63, 63)

In [21]:
IO_new = pd.DataFrame(data=IO,columns=codes64,index=codes64)
IO_new.head()

,01,02,03,05-09,10-12,13-15,16,17,18,19,...,84,85,86,87-88,90-92,93,94,95,96,97-98
01,1135.36,52.5349,0,3.05481,8645.47,51.2632,0,0,0,0,...,18.827,0,10.0982,91.7385,0.102878,2.78215,16.7001,0,1.37227,0
02,14.9732,0,0,0,0.737597,0,528.921,154.035,0,0,...,0,0,0,0,0,0,0,0,1.95909,0
03,0,0,0,0,32.1051,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
05-09,3.28189,0,0,70.5244,72.0127,1.77914,0,8.65136,0,10792.9,...,5.66646,0,1.0824,0,4.08543,0.158955,1.21494,0,0,0
10-12,2180.09,0.168358,0.02898,0.167061,9434.97,10.2272,1.6863,42.4287,1.31281,100.51,...,223.437,39.5996,318.511,385.203,29.0127,89.4219,7.46886,1.95809,16.1913,0

In [22]:
IO_new.to_csv('../../data/interim/economical/IO_NACE64.csv', index=True)

### Labor compensation $(l_{i,0})$

In [25]:
n_0 = IO_df.values[-15,1:-10]
n_0 = np.delete(n_0,44)

### Sectoral output during business-as-usual $(x_{i,0}^{\text{cap}})$

In [26]:
x_0 = IO_df.values[1:-19,-1]
x_0[43] = x_0[43] + x_0[44] # Confirm with Koen or Gert that this needs to be added togheter
x_0 = np.delete(x_0,44) 
print(x_0.shape)

(63,)

### Houshold demand during business-as-usual $(c_{i,0}^d)$

In [27]:
c_0 = IO_df.values[1:-19,-9]
c_0[43] = c_0[43] + c_0[44] # Confirm with Koen or Gert that this needs to be added togheter
c_0 = np.delete(c_0,44)
print(c_0.shape)

(63,)

### Other final demand $(f_{i,0}^d)$

In [28]:
f_0 = np.sum(IO_df.values[1:-19,-8:-1],axis=1)
# "Changes in inventories and acquisition less disposals of valuables" can be negative
# Do I just sum the columns?
f_0[43] = f_0[43] + f_0[44] # Confirm with Koen or Gert that this needs to be added togheter
f_0 = np.delete(f_0,44)
print(f_0.shape)

(63,)

### Desired stock $(n_j)$ --> table 8

In [29]:
nj_df = pd.read_csv("../../data/raw/economical/table_ratio_inv_go.csv", index_col=[0], header=[0])

In [30]:
nj55 = nj_df['ratio_all_inv_go_monthly'].values[:-1]*30
print(nj55.shape)

(55,)

In [31]:
# Convert to NACE64
nj64 = np.zeros(63)
for i in range(nj55.size):
    nj64[WIOD55toNACE64_mat[i,:] == 1] = nj55[i]
print(nj64.shape)

(63,)

### Consumer demand shock $(\epsilon^D)$

In [32]:
ed_df = pd.read_csv("../../data/raw/economical/WIOD_shockdata.csv", index_col=[0], header=[0])
ed_df.head()
ed55 = ed_df['demand.shock.household'].values
print(ed55.shape)

(55,)

In [33]:
# Convert to NACE64
ed64 = np.zeros(63)
for i in range(nj55.size):
    ed64[WIOD55toNACE64_mat[i,:] == 1] = ed55[i]
print(ed64.shape)

(63,)

### Other demand shock $(f^D)$

In [34]:
fd55=np.array([-20,-23,-32,-33,-32,-27,-16,-30,-18,-33,-32,-31,-28,-27,-33,-18,-28,-30,-30,-29,-31,-25,-17,-20,-11,-16,-6,-23,-30,-28,-28,-32,-32,-26,-30,-32,-24,-15,-22,-13,-32,-31,-33,-8,-25,-19,-11,-30,-30,-29,-1,-2,1,-10,-32])
print(fd55.shape)

(55,)

In [35]:
# Convert to NACE64
fd64 = np.zeros(63)
for i in range(fd55.size):
    fd64[WIOD55toNACE64_mat[i,:] == 1] = fd55[i]
print(fd64.shape)

(63,)

### On-site consumption

In [36]:
IHS_df.index.values[:]
names = ['G45','G47','H49','H50','H51','H52','H53','I','L68','M69_M70','O84','P85','R_S','T']
on_site55 = np.zeros(55)
for name in names:
    on_site55[np.where(IHS_df.index.values[:]==name)] = 1
print(on_site55)

on_site64 = np.zeros([63])
for i in range(on_site55.size):
    on_site64[WIOD55toNACE64_mat[i,:] == 1] = on_site55[i]

print(on_site64)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 1. 0. 1. 1. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0.
 0. 0. 1. 1. 0. 1. 1.]
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 1. 0. 1. 1. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 1. 1. 0. 0. 0.
 0. 0. 0. 0. 0. 1. 1. 0. 0. 1. 1. 1. 1. 1. 1.]

### Sectoral employees during business-as-usual $(n_{i,0})$

In [37]:
sectoral64_df = pd.read_excel("../../data/raw/economical/Employees_NACE64.xlsx",sheet_name = 'Binnenlands concept - A64', index_col=[0], header=[0])

In [38]:
l0_64 = sectoral64_df.values[7:-1,-1]
print(l0_64.shape)

(63,)

### Sectoral employees during lockdown $(n_{i,\text{lockdown}})$

Survey 25-04-2020

#### NACE 38

In [39]:
sectoral38_lockdown_df = pd.read_excel("../../data/raw/economical/Employees_25-04-2020_NACE38.xlsx",sheet_name = 'Formated data', index_col=[0], header=[0])

In [40]:
l_lockdown38 = (sectoral38_lockdown_df['telework'] + sectoral38_lockdown_df['mix telework-workplace'] + sectoral38_lockdown_df['at workplace']).values[1:]

#### NACE 64

In [41]:
# Telework
telework38 = sectoral38_lockdown_df['telework'].values[1:]
telework64 = np.zeros(63)
for i in range(l_lockdown38.size):
    telework64[NACE_64to38_mat[i,:] == 1] = telework38[i]

# Mix
mix38 = sectoral38_lockdown_df['mix telework-workplace'].values[1:]
mix64 = np.zeros(63)
for i in range(l_lockdown38.size):
    mix64[NACE_64to38_mat[i,:] == 1] = mix38[i]

# Workplace
workplace38 = sectoral38_lockdown_df['at workplace'].values[1:]
workplace64 = np.zeros(63)
for i in range(l_lockdown38.size):
    workplace64[NACE_64to38_mat[i,:] == 1] = workplace38[i]

# Absent
absent38 = sectoral38_lockdown_df['absent'].values[1:]
absent64 = np.zeros(63)
for i in range(l_lockdown38.size):
    absent64[NACE_64to38_mat[i,:] == 1] = absent38[i]

#### Group into dataframe

In [43]:
tuples = [('Business-as-usual', 'Sectoral output (M€/y)'),
            ('Business-as-usual', 'Household demand (M€/y)'),
            ('Business-as-usual', 'Other demand (M€/y)'),
            ('Business-as-usual', 'Desired stock (days)'),
            ('Business-as-usual', 'Employees (x1000)'),
            ('Business-as-usual', 'Labor compensation (M€/y)'),
            ('Business-as-usual','On-site consumption (-)'),
            ('Lockdown', 'Consumer demand shock (%)'),
            ('Lockdown', 'Other demand shock (%)'),
            ('Lockdown', 'Telework (%)'),
            ('Lockdown', 'Mix (%)'),
            ('Lockdown', 'Workplace (%)'),
            ('Lockdown', 'Absent (%)'),]

colnames = pd.MultiIndex.from_tuples(tuples, names=['',''])

In [45]:
data = {
    ('Business-as-usual','Sectoral output (M€/y)'): list(x_0),
    ('Business-as-usual','Household demand (M€/y)'): list(c_0),
    ('Business-as-usual','Other demand (M€/y)'): list(f_0),
    ('Business-as-usual','Desired stock (days)'): list(nj64),
    ('Business-as-usual','Employees (x1000)'): list(l0_64),
    ('Business-as-usual', 'Labor compensation (M€/y)'): list(n_0),
    ('Business-as-usual','On-site consumption (-)') : list(on_site64),
    ('Lockdown', 'Consumer demand shock (%)'): list(ed64*100),
    ('Lockdown', 'Other demand shock (%)'): list(fd64),
    ('Lockdown', 'Telework (%)'): list(telework64),
    ('Lockdown', 'Mix (%)'): list(mix64),
    ('Lockdown', 'Workplace (%)'): list(workplace64),
    ('Lockdown', 'Absent (%)'): list(absent64),
}
df = pd.DataFrame(data=data,columns=colnames,index=codes64)
df.head()

           Business-as-usual                                              \
      Sectoral output (M€/y) Household demand (M€/y) Other demand (M€/y)
01              16871.857620             2489.480808         3363.158014
02                647.800878               93.072674          163.445080
03                429.100000              205.663831           76.947850
05-09           24251.454892               24.908402         9447.361630
10-12           56386.414811            14791.984811        23096.125921

                                                                        \
      Desired stock (days) Employees (x1000) Labor compensation (M€/y)
01              128.879069              56.0                491.237614
02              128.879069               2.3                 22.510493
03              128.879069               0.4                 27.503006
05-09            16.045759               2.5                265.614096
10-12            35.503271              98.6               4323.527159

                                               Lockdown  \
      On-site consumption (-) Consumer demand shock (%)
01                        0.0                     -10.0
02                        0.0                     -10.0
03                        0.0                     -10.0
05-09                     0.0                     -10.0
10-12                     0.0                     -10.0


      Other demand shock (%) Telework (%)   Mix (%) Workplace (%) Absent (%)
01                     -20.0     0.448430  1.255605     95.964126   2.331839
02                     -23.0     0.448430  1.255605     95.964126   2.331839
03                     -32.0     0.448430  1.255605     95.964126   2.331839
05-09                  -33.0    28.559993  4.389402     29.913807   4.765007
10-12                  -32.0    19.253406  8.415096     54.645352   7.429082

#### Write dataframe to xlsx

In [46]:
df.to_csv('../../data/interim/economical/others.csv', index=True)

### Critical inputs

WIOD 55

https://zenodo.figshare.com/articles/software/Production_networks_and_epidemic_spreading_How_to_restart_the_UK_economy_/12345527/1

#### Matrix is not square by default and contains NaN

In [ ]:
IHS_mat = IHS_df.values
new_last_column= np.expand_dims(np.append(IHS_mat[-1,:],1),axis=1)
IHS_mat = np.append(IHS_mat,new_last_column,axis=1)

In [ ]:
abs_dir = os.getcwd()
rel_dir = os.path.join(abs_dir, '../../data/raw/economical/IHS_Markit_results_compact.csv')
IHS_df = pd.read_csv(rel_dir,header=[0],index_col=[0])
IHS_df.fillna(0)
IHS_df.head()

In [ ]:
IHS_df['T']=new_last_column
IHS_df.head()

#### Convert to NACE 64

Assumptions

In [ ]:
NACE64toWIOD55_mat = WIOD55toNACE64_mat

In [ ]:
IHS_mat = IHS_df.fillna(0).values
# Convert to all entries  before sector N using the conversion matrix
new64_mat = np.zeros([63,63])
for j in range(49): # row 49 is sector N
    new64 = np.zeros(63)
    orig55 = IHS_mat[j,:]
    for i in range(orig55.size):
        new64[NACE64toWIOD55_mat[i,:] == 1] = orig55[i]
    new64_mat[j,:]=new64
    
# Now we're at row N
# First convert row N using the matrix
new64 = np.zeros(63)
orig55 = IHS_mat[49,:]
for i in range(orig55.size):
    new64[NACE64toWIOD55_mat[i,:] == 1] = orig55[i]
    new64_mat[49:53,:]=new64
# Then modify the diagonal (i.e. no dependency of sector 77 to sector 78 etc.)
new64_mat[49,50:53]=0
new64_mat[50,49]=0
new64_mat[50,51:53]=0
new64_mat[51,49:51]=0
new64_mat[51,52:53]=0
new64_mat[52,49:52]=0

# Then go on from index 50 to 51 (sectors 84 and 85)
for j in range(50,52): # 49 or 63
    new64 = np.zeros(63)
    orig55 = IHS_mat[j,:]
    for i in range(orig55.size):
        new64[NACE64toWIOD55_mat[i,:] == 1] = orig55[i]
    new64_mat[j+3,:]=new64
    
print(orig55)
print(new64)

# Now we're at sectors Q (index 52)
# First convert row Q using the conversion matrix
new64 = np.zeros(63)
orig55 = IHS_mat[52,:]
for i in range(orig55.size):
    new64[NACE64toWIOD55_mat[i,:] == 1] = orig55[i]
    new64_mat[55:57,:]=new64
# Then modify the diagonal (i.e. no dependency of sector 93 to sector 94 etc.)
new64_mat[55,56]=0
new64_mat[56,55]=0

# Now we're at sectors R_S (index 54)
# First convert row R_S using the conversion matrix
new64 = np.zeros(63)
orig55 = IHS_mat[53,:]
for i in range(orig55.size):
    new64[NACE64toWIOD55_mat[i,:] == 1] = orig55[i]
    new64_mat[57:62,:]=new64
# Then modify the diagonal (i.e. no dependency of sector 93 to sector 94 etc.)
new64_mat[57,58:62]=0
new64_mat[58,57]=0
new64_mat[58,59:62]=0
new64_mat[59,57:59]=0
new64_mat[59,60:62]=0
new64_mat[60,57:60]=0
new64_mat[60,61:62]=0
new64_mat[61,57:61]=0

# Convert and insert row T using the conversion matrix
new64 = np.zeros(63)
orig55 = IHS_mat[54,:]
for i in range(orig55.size):
    new64[NACE64toWIOD55_mat[i,:] == 1] = orig55[i]
    new64_mat[62,:]=new64
print(new64_mat)

In [ ]:
np.diag(new64_mat)

In [ ]:
plt.imshow(new64_mat)

In [ ]:
plt.imshow(IHS_mat)

In [ ]:
columns = codes64
index = codes64
IHS_critical = pd.DataFrame(data = new64_mat, index=index, columns=columns)
IHS_critical.head()

In [ ]:
IHS_critical.to_csv('../../data/interim/economical/IHS_critical_NACE64.csv', index=True)

### Census 2011: Employees in every sector per arrondissement

NACE 21 classification

In [ ]:
abs_dir = os.getcwd()
rel_dir = os.path.join(abs_dir, '../../data/raw/census_2011/census_arbeidsmarkt_nl_24oct14.xlsx')
df = pd.read_excel(rel_dir, sheet_name="Tabel3_2011")

In [ ]:
codes=df['00.55 - Werkende bevolking van belgische en vreemde nationaliteit naar geslacht en economische sector'].loc[5:1943].dropna().values
codes_int = [int(i) for i in codes]

names = df.iloc[5:,1].dropna().values
rows=[]
for i in df['00.55 - Werkende bevolking van belgische en vreemde nationaliteit naar geslacht en economische sector'].loc[5:1943].dropna().index:
    intra_row = np.array([])
    intra_row = np.append(intra_row,df.iloc[i+2,3]) # A
    intra_row = np.append(intra_row,df.iloc[i+2,5:10]) # B, C, D, F
    intra_row = np.append(intra_row,df.iloc[i+2,11:17]) # G, H, I, J, K , L
    intra_row = np.append(intra_row,df.iloc[i+2,18:20]) # M, N
    intra_row = np.append(intra_row,df.iloc[i+2,21:24]) # O, P, Q
    intra_row = np.append(intra_row,df.iloc[i+2,25:29]) # R, S, T, U
    rows.append(intra_row)
matrix = np.zeros([len(rows),21])
for j in range(len(rows)):
    matrix[j,:]=rows[j]
    
economic_df=pd.DataFrame(matrix,index=codes_int,columns=['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U'])
economic_df.index.name = 'NIS'
economic_df.head()

In [ ]:
idx_arrondisement=[]
for idx in economic_df.index:
    if ((str(idx)[-3:] == '000') & (len(str(idx)) != 4) & (str(idx)[-4:] != '0000') & (str(idx)[0] != '0')):
        idx_arrondisement.append(idx)
print(idx_arrondisement)

In [ ]:
economic_df.loc[idx_arrondisement,:]

In [ ]:
economic_df.loc[idx_arrondisement,:].to_csv('../../data/interim/economical/census2011_NACE21.csv', index=True)

### Test function to load economic data and conversion matrices

In [ ]:
from covid19model.data.economic_parameters import get_economic_parameters, get_conversion_matrix

In [ ]:
pars = get_economic_parameters()

In [ ]:
mat = get_conversion_matrix('WIOD55_NACE6')